<style>
  img {
    width: 100%;
  }

  .hover-alt-wrapper {
    position: relative;
    display: inline-block;
    line-height: 0;
    width: 100%;
  }

  .alt-tooltip {
    position: absolute;
    left: 50%;
    bottom: 6px;

    padding: 20px;

    height: 24px;
    /* ⭐固定高度 */

    transform: translateX(-50%) translateY(4px);

    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    font-size: 12px;

    display: flex;
    /* ⭐让文字垂直居中 */
    align-items: center;
    justify-content: center;

    border-radius: 4px;
    pointer-events: none;

    opacity: 0;
    transition: 0.15s ease;

    white-space: nowrap;
    /* 不换行 */
    overflow: hidden;
    /* 超出隐藏 */
    text-overflow: ellipsis;
    /* ⭐省略号 */
  }

  .hover-alt-wrapper.show .alt-tooltip {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }

  .img-open-btn {
    position: absolute;
    top: 6px;
    right: 6px;


    background: rgba(0, 0, 0, 0.5);
    color: #fff;

    border-radius: 4px;
    text-align: center;

    cursor: pointer;
    user-select: none;

    opacity: 0;
    transition: 0.15s ease;

    padding: 10px;
  }

  .hover-alt-wrapper:hover .img-open-btn {
    opacity: 1;
  }

  .img-open-btn {
    position: absolute;
    top: 20px;
    right: 20px;

    background: rgba(0, 0, 0, 0.5);
    color: #fff;

    border-radius: 4px;
    font-size: 14px;
    line-height: 22px;
    text-align: center;

    cursor: pointer;
    user-select: none;

    opacity: 0;
    transition: 0.15s ease;
  }
</style>

<script>
  document.querySelectorAll("img").forEach(img => {
    // 创建 wrapper（不改原结构，只包一层）
    const wrapper = document.createElement("div");
    wrapper.className = "hover-alt-wrapper";

    // 插入 wrapper
    img.parentNode.insertBefore(wrapper, img);
    wrapper.appendChild(img);

    // 创建 tooltip
    const tooltip = document.createElement("div");
    tooltip.className = "alt-tooltip";
    tooltip.textContent = img.alt || "";

    wrapper.appendChild(tooltip);

    const btn = document.createElement("div");
    btn.className = "img-open-btn";
    btn.innerHTML = "⤢";


    btn.addEventListener("click", (e) => {
      e.stopPropagation();
      window.open(img.src, "_blank");
    });

    wrapper.appendChild(btn);


    // hover 控制
    wrapper.addEventListener("mouseenter", () => {
      if (img.alt) wrapper.classList.add("show");
    });

    wrapper.addEventListener("mouseleave", () => {
      wrapper.classList.remove("show");
    });
  });
</script>